
{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <img src="/avatar/{{username}}" alt="User Avatar" title={{username}}>
    </div>
    <div class="post-content preserve-newlines">
        <h3>{{title}}</h3>
        <h4>{{pet}}</h4>
        <p>{{content}}</p>
        <div class="post-status-bar">
            {{#ifCond username this.user.username}}
                <button class="delete-button" onclick="handleDeleteClick(event)" data-id={{id}}>
                    <i class="fas fa-trash-alt"></i>
                </button>
            {{else}}
                <button onClick="handleLikeClick(event)" data-id={{id}}>♡</button>
            {{/ifCond}}
            <span id="postLikes">{{likes}} Likes</span> Posted by {{username}}
            <p>{{timestamp}}</p>
        </div>        
    </div>
</div>

<script>
    function handleLikeClick(event) {
        const pstId = event.target.getAttribute('data-id');
        let likeUrl = '/like/:id';

        fetch(likeUrl, {
            method: "POST", 
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                postId: pstId
            })
        })
        .then(statusCheck).then(processData)
        .catch(handleError);
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const pstId = buttonElement.getAttribute('data-id');  
        let deleteUrl = '/delete/:id';
             
        fetch(deleteUrl, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                postId: pstId
            })
        })
        .then(statusCheck).then(processData)
        .catch(handleError);
    }

    function statusCheck(res) {
        if (!res.ok) {
            throw new Error('Failed to interact with post: ' + res.statusText);
        }
        return res;
    }  

    function processData(data) {
        window.location.reload();
    }

    function handleError(error) {
        console.error('Error interacting with post: ', error);
    }
</script>