
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Edu TAS Beginner|Quicksand">
    
    <link rel="stylesheet" href="/css/style.css">

    <title>{{{appName}}}</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="/"><img  class="header-logo" src="images/Blog Logo.png" alt="Pets" title="Pets"></a></li>
                <li><a id="title" href="/">{{{appName}}}</a></li>
                
                <div class="topnav-right">
                    {{#if loggedIn}}
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout <span>{{user.username}}</span> </a></li>
                        <li><a class="avatar" href="/profile">
                            <img src="{{#if user.avatar_url}}
                                            {{user.avatar_url}}
                                        {{else}}
                                            /avatar/{{user.username}}
                                        {{/if}}" 
                                        alt="User Avatar"
                                        title={{user.username}}
                                        class="header-avatar">
                        </a></li>
                    {{else}}
                        <li><a href="/">Home</a></li>
                        <li><a href="/loginRegister">Login/Register</a></li>
                    {{/if}}
                </div>
            </ul>
        </nav>
    </header>

    <center>{{{body}}}</center>
    
    <footer>
        <p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
    </footer>

</body>

</html>
