{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div>
        <section class="profile-info">
            <img class="profile-avatar" src="/avatar/{{user.username}}" alt="User Avatar" title={{user.username}}>
            
            <h2>User Profile</h2>
            <p>Username: {{user.username}}</p>
            <p>Member Since: {{user.memberSince}}</p>
            <form method="GET" action="/changeUsername">
                <button type="submit">Change Username</button>
            </form>
        </section>
    </div>

    <section class="user-posts">
        <h2>Your {{{postNeoType}}}s</h2>
        
        {{#if user.posts.length}}
            <ul>
                {{#each user.posts}}
                    <article class="each-post">
                        {{> post this user=../user}}  
                    </article>
                {{/each}}
            </ul>
        {{else}}
            <p>No posts yet :C Post something!!</p>
        {{/if}}
    </section>
</div>

